.outmost-container {
  margin: 12px 0;

  form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    app-card {
      min-height: 118px;
      width: 220px;
      margin: 0 16px 16px 0;
    }
  }
}
