<div class="outmost-container">
  <div class="buttons-container">
    <mat-button-toggle-group
      name="view selector"
      aria-label="view type"
      [value]="view"
      (change)="onChange($event)"
    >
      <mat-button-toggle value="cardsView">Cards view</mat-button-toggle>
      <mat-button-toggle value="tableView">Table view</mat-button-toggle>
    </mat-button-toggle-group>
    <button
      mat-raised-button
      name="add user"
      aria-label="add user"
      (click)="onAddUser()"
    >
      Add user
    </button>
  </div>

  <ng-container
    *ngIf="view === 'cardsView'; then cardsTemplate; else tableTemplate"
  ></ng-container>

  <ng-template #cardsTemplate>
    <app-users-cards
      [data]="(data$ | async) || []"
      [loading]="(loading$ | async) || false"
    ></app-users-cards>
  </ng-template>

  <ng-template #tableTemplate>
    <app-users-table
      [data]="(data$ | async) || []"
      [loading]="(loading$ | async) || false"
    >
    </app-users-table>
  </ng-template>
</div>
