.outmost-container {
  margin: 32px;

  form {
    margin-top: 16px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;
    justify-content: space-between;
    align-items: center;
  }

  .form-paginator-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
